<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Context" connectionString="metadata=res://*/UtgiftsModel.csdl|res://*/UtgiftsModel.ssdl|res://*/UtgiftsModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\utgifter.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="DataBaseModelContainer" connectionString="metadata=res://*/DataModel.DataBaseModel.csdl|res://*/DataModel.DataBaseModel.ssdl|res://*/DataModel.DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=alvedon.krot.se\SQLMicke;initial catalog=UHS;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>